[Unit]
Description=Filtered D-Bus session bus Socket

[Service]
RuntimeDirectory=dbus/%i
RuntimeDirectoryPreserve=yes
RuntimeDirectoryMode=0700
ExecStart=xdg-dbus-proxy ${DBUS_SESSION_BUS_ADDRESS} %t/dbus/%i/session-bus-proxy

[Install]
WantedBy=sockets.target
