[Unit]
Description=Wayland security context tagged socket
PartOf=graphical-session.target
After=graphical-session.target
Conflicts=wayland-session-shutdown.target
Before=wayland-session-shutdown.target
BindsTo=%N.socket
After=%N.socket

[Service]
Type=notify
Environment=WLSCTX_SANDBOX_ENGINE=systemd
#Environment=WLSCTX_APP_ID=%p
#Environment=WLSCTX_INSTANCE_ID=%p
Environment=UNIT_ID=%i
#Environment=RUST_LOG=debug

ExecStart=bash -c 'UNIT_PREFIX=$${UNIT_ID%%%%@*}; exec wlsctx --socket-activation --app-id="$${UNIT_PREFIX##*-}" --instance-id=$${UNIT_ID#*@}'
