[Unit]
Description=Sandboxed application %J

[Service]
Environment=APP_IMAGE_TAG=latest

[Container]
Image=${RUNTIME_IMAGE}:${RUNTIME_IMAGE_TAG}
Pull=never
Mount="type=image,dst=/app,src=app-%J:${APP_IMAGE_TAG}"
Exec=/app/bin/%J
AddCapability=SYS_CHROOT

