[Unit]
Description=Debugging sandboxed apps

[Container]
Exec=sleep 30d
Image=wayland-runtime
Pull=never

AddCapability=SYS_CHROOT
Unmask=/sys/fs/cgroup
