[Unit]
Description=Sandboxed Librewolf

[Container]
ContainerName=wl-app-%j_%i
Exec=librewolf
Image=librewolf.image
Pull=never
AddDevice=-/dev/dri/renderD128
AddDevice=-/dev/dri/renderD129
AddDevice=-/dev/dri/renderD130
AddDevice=-/dev/dri/renderD131

ServiceName=app-podman-librewolf@
AddCapability=SYS_CHROOT
Unmask=/sys/fs/cgroup
