[Unit]
Description=Sandboxed Xwayland satellite
After=wl-display@.container
Wants=wl-display@.container
StopWhenUnneeded=yes

[Service]
ExecStartPost=/bin/sh -c 'retries=5; until podman exec %i_%p xhost SI:localuser:%u || [ "$${retries}" -eq 0 ]; do sleep 1; retries=$$((retries - 1)); done'

[Container]
Exec=xwayland-satellite
Image=xwayland-satellite.image
Pull=never
RunInit=true
AddDevice=-/dev/dri/renderD128
AddDevice=-/dev/dri/renderD129
AddDevice=-/dev/dri/renderD130
AddDevice=-/dev/dri/renderD131
PodmanArgs=--ipc=host
Volume=wl-%j_cache:%h/.cache
PodmanArgs=--hostuser=%u
