[Unit]
Description=Minimal Wayland security context manager
BindsTo=wlsctx@%i.socket
After=wlsctx@%i.socket

[Quadlet]
DefaultDependencies=false

[Container]
Image=wlsctx.image
Exec=--socket-activation
Environment=WLSCTX_SANDBOX_ENGINE=${WLSCTX_SANDBOX_ENGINE}
#Environment=WLSCTX_APP_ID=${WLSCTX_APP_ID}
#Environment=WLSCTX_INSTANCE_ID=${WLSCTX_INSTANCE_ID}
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}
Environment=RUST_LOG=debug
Pull=never
Network=none
Notify=true
NoNewPrivileges=true
UserNS=keep-id
User=%U
Group=%G
ReadOnly=true
DropCapability=ALL
Memory=128m
Label=io.ghcr/wlsctx/instance=%i
Mount=type=bind,ro,source=%t/${WAYLAND_DISPLAY},destination=%t/wayland-1
ContainerName=systemd-wlsctx_${INVOCATION_ID}
#SecurityLabelDisable=true
SecurityLabelType=wlsctx.process

[Service]
Restart=always
Environment=WLSCTX_SANDBOX_ENGINE=podman
